## Connecting to a database using ibm_db API

1. Import the ibm_db Python library
2. Enter the database connection credentials
3. Create the database connection
4. Close the database connection

In [2]:
!pip install ibm_db
import ibm_db

Collecting ibm_db
  Downloading ibm_db-3.0.2.tar.gz (718 kB)
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (setup.py): started
  Building wheel for ibm-db (setup.py): finished with status 'done'
  Created wheel for ibm-db: filename=ibm_db-3.0.2-py3-none-any.whl size=26239976 sha256=798a4973308173798c79cd0a4955a6ab8b6650a1aadfbf8f2103bf58c2847d5e
  Stored in directory: c:\users\ppuser1\appdata\local\pip\cache\wheels\b9\9e\a1\a31065e57e9ff030dd39da859f3f2f01b0cc1b6c1db78aabb6
Successfully built ibm-db
Installing collected packages: ibm-db
Successfully installed ibm-db-3.0.2

In [21]:
dsn_hostname = "dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net"
dsn_uid ="zbc24124"
dsn_pwd = "1r73vc75bw9rkf+4"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

In [22]:
#create the database connection

dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver,dsn_database,dsn_hostname,dsn_port,dsn_protocol,dsn_uid,dsn_pwd)
    
    
#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=zbc24124;PWD=1r73vc75bw9rkf+4;

In [23]:
try:
    conn = ibm_db.connect(dsn,"","")
    print("connected")
except:
    print("Unable to connect to the database")

connected

In [13]:
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.01.0404
DB_NAME:    BLUDB

In [16]:
client = ibm_db.client_info(conn)

print("DRIVER_NAME: ", client.DRIVER_NAME)
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:  DB2CLI.DLL
DRIVER_VER:            11.05.0400
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1252
CONN_CODEPAGE:         1208

In [17]:
ibm_db.close(conn)

True

In [25]:
stmt = ibm_db.exec_immediate(conn,
                             "CREATE TABLE TRUCKS(Serial_no VARCHAR(5) PRIMARY KEY NOT NULL,Model VARCHAR(10) NOT NULL,Manufacturer VARCHAR(20) NOT NULL,Engine_size VARCHAR(20) NOT NULL,Truck_class VARCHAR(20) NOT NULL)")

In [26]:
stmt = ibm_db.exec_immediate(conn,
"INSERT INTO TRUCKS(Serial_no,Model,Manufacturer,Engine_size,Truck_class) Values ('A1234','Lonestar','international truck','Cummins 1X155','Class 8');"
"INSERT INTO TRUCKS(Serial_no,Model,Manufacturer,Engine_size,Truck_class) Values ('B1234','Volvo','Volvo truck','Vovlo V11','Class 10');"
"INSERT INTO TRUCKS(Serial_no,Model,Manufacturer,Engine_size,Truck_class) Values ('C1234','Kenvarth','Kenworth Trucks','Caterpillar C9','Class 9');")

In [27]:
stmt = ibm_db.exec_immediate(conn,
"INSERT INTO TRUCKS(Serial_no,Model,Manufacturer,Engine_size,Truck_class) Values ('B1234','Volvo','Volvo truck','Vovlo V11','Class 10');")

In [28]:
stmt = ibm_db.exec_immediate(conn,
"INSERT INTO TRUCKS(Serial_no,Model,Manufacturer,Engine_size,Truck_class) Values ('C1234','Kenvarth','Kenworth Trucks','Caterpillar C9','Class 9');")

In [33]:
stmt = ibm_db.exec_immediate(conn,"Select * FROM TRUCKS")
ibm_db.fetch_both(stmt)

{'SERIAL_NO': 'A1234',
 0: 'A1234',
 'MODEL': 'Lonestar',
 1: 'Lonestar',
 'MANUFACTURER': 'international truck',
 2: 'international truck',
 'ENGINE_SIZE': 'Cummins 1X155',
 3: 'Cummins 1X155',
 'TRUCK_CLASS': 'Class 8',
 4: 'Class 8'}

## Using Pandas

In [34]:
import pandas as pd
import ibm_db_dbi

pconn = ibm_db_dbi.Connection(conn)
df = pd.read_sql("Select * from Trucks",pconn)
df

  SERIAL_NO     MODEL         MANUFACTURER     ENGINE_SIZE TRUCK_CLASS
0     A1234  Lonestar  international truck   Cummins 1X155     Class 8
1     B1234     Volvo          Volvo truck       Vovlo V11    Class 10
2     C1234  Kenvarth      Kenworth Trucks  Caterpillar C9     Class 9

In [38]:
df = pd.read_sql("Select * from Trucks",pconn)
df

  SERIAL_NO     MODEL         MANUFACTURER     ENGINE_SIZE    TRUCK_CLASS
0     A1234  Lonestar  international truck   Cummins 1X155        Class 8
1     B1234     Volvo          Volvo truck       Vovlo V11       Class 10
2     C1234  Kenvarth      Kenworth Trucks  Caterpillar C9        Class 9
3     D1234     KSRTC          Govt Trucks       Double C9  Class 9 Haevy